<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img style="width: 800px;height: 300px;background-color: orange" class="slide-image" src="http://placehold.it/800X300" alt="">
    </div>
    <div class="item">
      <img style="width: 800px;height: 300px;background-color: green"  class="slide-image" src="http://placehold.it/800X300" alt="">
    </div>
    <div class="item">
      <img style="width: 800px;height: 300px;background-color: grey"  class="slide-image" src="http://placehold.it/800X300" alt="">
    </div>
  </div>
  <a class="left carousel-control" href="javascript:$('.carousel').carousel('prev')">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="javascript:$('.carousel').carousel('next')">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
